<div class="center matrix-table">
    <div class="matrix-table matrix-center">
        <div class="pos-relative">
            <div class="display-inline-block var-header">Variant</div>
            <div class="display-inline-block attr-value-container">
                <div class="display-inline-block attr-value-header">Price</div>
                <div class="display-inline-block attr-value-header">Stock</div>
            </div>
        </div>
        <mat-attribute ng-init="matrixObject = strJson"></mat-attribute>
        <div class="pos-relative btn-generate">
            <button class="dark-grey-text rounded-border" ng-click="generateUserDataJson()">Generate</button>
        </div>
    </div>
</div>